/*----- Tabs -----*/
#search-wrapper {
    text-align:center;
    position:relative;
    max-width:100%;
    margin:auto;
    width:875px;
    font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 0.02rem;
}

.tabs {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0px auto 0;
    padding: 0px auto;
    text-align: center;
    height: 92px;
    top: 0;
    vertical-align: middle;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .tab-links h2 {
        margin:0px 5px;
        list-style:none;
        display:inline-block;
        text-decoration:none;
        color:000000;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            font-size:16px;
            font-weight:600;
            transition:all linear 0.15s;
            text-decoration:none;
			color: rgb(0, 0, 0);
    }
	
		.tab-links a.selected h2 {
		   color: rgb(0,160,223);
		}
        .tab-links h2 {
        font-size:2.4em;
    }

        .tab-label {
        font-size: 16px;
        text-decoration: none;
        margin: 10px 0;
        font-family: "Source Sans Pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #000000;
    }
 
    /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        text-align:center;
}
 
        .tab {
            display:none;
}
 
        .tab.active {
            display:block;
}
        
    /*----- Search Boxes -----*/
	.searchTerm {
    position: relative;
}

    #search-header h1{
    font-size: 1.75em;
    width: 90%
    margin:auto;
    text-align: center;
    color:#14759f;
    }
	
	#search h3 {
    font-size: 1.25em;
    width: 95%;
    margin:auto;
    text-align:left;
}

    input.searchbox {
    display: inline;
    -webkit-appearance: none;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 95%;
    padding-left: .6rem;
    padding-right: 8px;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 10px auto;
    border: 0;
    outline: 2px solid rgb(0,105,170);;
}
    
    input.headersubmit {
    display: inline;
    -webkit-appearance: none;
    vertical-align: middle;
    height: 40px;
    width: 44px;
    margin-left: -47px;
    border: 0;
    background-color: rgb(0,105,170);
    color: #ffffff;
    font-size: 2.2rem;
    font-family: 'FontAwesome', sans-serif;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
    a#advanced-search {
    float:right;
    line-height: 0;
    margin-top: 20px; 
    margin-right: 20px;
    font-size: .8em;
	text-decoration: none;
}


/* Button CSS for mobile*/
.mobile_button {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
    background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
    background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
    background-color:#63b8ee;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:4px solid #0179a5;
    display:inline-block;
    float:left;
    cursor:pointer;
    color:#14396a;
    font-family:Georgia;
    font-size:10px;
    font-weight:bold;
    padding:20px 20px;
    text-decoration:none;
}


.mobileHide { display: inline;}
   /* Smartphone Portrait and Landscape */
   @media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){  .mobileHide { display: none;}}

/* Make the button appear when screen shrinks*/
.mobileShow { display: none;}
   /* Smartphone Portrait and Landscape */
   @media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){ .mobileShow { display: inline;}}


